.footer_container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 411px;
    flex-shrink:0;
    background-color: #013D56;
    align-items: center;
    justify-content: center;
}
.line{
    width: 1350px;
    height: 1px;
    
    background: rgba(255, 255, 255, 0.50);
}
.footer_content{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
}

.group314{
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: center;
    flex-shrink: 0;
}
.group314 h2{
    color: #FFF;
    font-family: Power Grotesk Trial;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.group314 h4{
    color: rgba(255, 255, 255, 0.70);
font-family: Mabry Pro;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 140% */
margin: 5px;
}
.logo_footer{
    width: 35%;
}
.address{
    width: 25%;
}
@media (max-width:400px) {
    .group314{display: none;}
    .footer_content{
        flex-direction: column;
    }
}