.footer_container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 411px;
    flex-shrink:0;
    background-color: #013D56;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.line{
    width: 1350px;
    height: 1px;
    
    background: rgba(255, 255, 255, 0.50);
}
.footer_content{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
}

.group314{
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: center;
    flex-shrink: 0;
}
.group314 h2{
    color: #FFF;
    font-family: Power Grotesk Trial;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.group314 h4{
    color: rgba(255, 255, 255, 0.70);
font-family: Mabry Pro;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 140% */
margin: 5px;
}
.group314 h4:hover{
    cursor: pointer;
}
.logo_footer{
    width: 36%;
   align-items: center;
   justify-content: center;
    display: flex;
   flex-direction: column; 
}
.logo_footer div{
  
    display: flex;
}
.logo_footer img{
    border-right: 2px solid rgb(250, 250, 250);

    
}
.logo_footer h1{

    margin-left: 20px;
 
    color: #FFF;
font-family: Montserrat;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: 28px; /* 80% */
}
.address{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.address p{
    width: 221px;
    flex-shrink: 0;
    color: rgba(255, 255, 255, 0.70);
font-family: Mabry Pro;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px; 
}
.eclipse_de{
    display: flex;
    margin-right: 10px;
    margin-top: 10px;
}
.eclipse_de div{
    width: 36px;
height: 36px;
flex-shrink: 0;
background-color:#D9D9D9;
margin-left: 18px;
margin-right: 18px;
border-radius: 100px;
}
.logo_footer .line{
    display: none;
}
.policy{
    color: rgba(255, 255, 255, 0.70);
    font-family: Mabry Pro;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.footer_social{
    display: flex;
    justify-content: space-around;
    margin-top: 3.4rem;
    gap: 2rem;
}

.footer_insta{
    width: 1.875rem;
    height: 1.875rem;
    color: #FFFFFF;
}
.footer_insta:hover{
    color: #00FEDF;
}


@media (max-width:750px) {
    .footer_container{
        justify-content: start;
        height: 350px;
    }
    .group314{display: none;}
    .footer_content{
        align-items: start;
        flex-direction: column;
        
        align-items: center ;
    }
    
    .ds{
        display: none;
    }
    .logo_footer img{
        border: none;
    }
    .logo_footer h1{
        display: none;
    }
    .logo_footer .line{
        display: block;
    }
    .address{
        text-align: center;
    }
    
.eclipse_de div{
    width: 25px;
    height: 25px;
}
.policy{
    font-size: 15px;
}
}