@font-face {
  font-family: Ecell;
  src: url(../assets/AboutUs/Montserrat-VariableFont_wght.ttf);
}

.gallery-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 110vh;
  margin-bottom: 0.25rem;
  /* background-color: aliceblue; */
}
.gly {
 color: #0ADEE9;
text-align: center;
font-family: Ecell;
font-size: 55px;
font-weight: 700;
}
.tv-container {
  position: relative;
}
.mantv{
  width: 45rem;
  transform: translateY(0.4rem);
}
.tv-container img {
  max-width: 100%;
  max-height: 100%;
}

.image-display {
  position: absolute;
  top: 9%;
  left: 24.6%;
  width: 50%;
  
  overflow: hidden;
  box-shadow: 0 0 7rem rgb(19, 119, 206);

}

.image-display img {
  width: 100%;
  height: 38%;
  border-radius: 4rem;
  object-fit: contain;
  opacity: 0.99;
  box-shadow: 0rem 0rem 8rem rgb(19, 119, 206);
  transition: transform 0.5s ease-in-out;
}
.gif {
  position: absolute;
  top: 25%;
  left: 49.5%;
  transform: translate(-50%, -50%);
  width: 54%;
  height: 35%;
  z-index: 600; /* Place the GIF above other elements */
}
.carousel-container {
  position: absolute;
  width: 0rem;
  transform: rotate(90deg); 
  top: 9%;
  left: 86.4%;
}
.slick-prev:before,
.slick-next:before {
  font-size: 4rem !important;
  color: rgb(32, 106, 174) !important;
  opacity: 1 !important;
 background-color: rgb(14, 91, 157) !important;
 border-radius: 190%;
}

.slick-next:before {
  margin-left: 2.7rem !important;
}
@media screen and (max-width:600px) {
 .gallery-container{
  height: 90vh;
 }
 .gly{
  font-size: 45px;
 }
  .slick-prev:before,
.slick-next:before {
  font-size: 3.5rem !important;
}
.slick-next:before {
  margin-left: 2rem !important;
}
.carousel-container {
  position: absolute;
  width: 0rem;
  transform: rotate(90deg); 
  top: 8.9%;
  left: 86.9%;
}
}
@media screen and (max-width:500px) {
  .gallery-container{
    height: 85vh;
   }
   .gly{
    font-size: 40px;
   }
  .slick-prev:before,
  .slick-next:before {
    font-size: 2.7rem !important;
  }
  .slick-next:before {
    margin-left: 1rem !important;
  }
  .carousel-container {
    position: absolute;
    width: 0rem;
    transform: rotate(90deg); 
    top: 10.5%;
    left: 86%;
  }
  
}
@media screen and (max-width:420px) {

  .slick-prev:before,
  .slick-next:before {
    font-size: 2rem !important;
  }
  .slick-next:before {
    margin-left: 0.2rem !important;
  }
  .carousel-container {
    position: absolute;
    width: 0rem;
    transform: rotate(90deg); 
    top: 12%;
    left: 85.2%;
  }
  
}
@media screen and (max-width:370px) {
  .gallery-container {
    height: 70vh;
  }
  .gly{
    font-size: 30px;
   }
}