/* Gallery.css (or your preferred CSS file) */

.gallery-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100vh;
  margin-top: 4rem;
  /* background-color: aliceblue; */
}

.tv-container {
  position: relative;
}
.mantv{
  width: 45rem;
  transform: translateY(0.4rem);
}
.tv-container img {
  max-width: 100%;
  max-height: 100%;
}

.image-display {
  position: absolute;
  top: 9%;
  left: 24.6%;
  width: 50%;
  
  overflow: hidden;
  box-shadow: 0 0 7rem rgb(19, 119, 206);

}

.image-display img {
  width: 100%;
  height: 38%;
  border-radius: 4rem;
  object-fit: contain;
  opacity: 0.99;
  box-shadow: 0rem 0rem 8rem rgb(19, 119, 206);
  transition: transform 0.5s ease-in-out;
}
.carousel-container {
  position: absolute;
  width: 0rem;
  transform: rotate(90deg); 
  top: 9%;
  left: 86.4%;
}
.slick-prev:before,
.slick-next:before {
  font-size: 4rem !important;
  color: rgb(32, 106, 174) !important;
  opacity: 1 !important;
 background-color: rgb(14, 91, 157) !important;
 border-radius: 190%;
}

.slick-next:before {
  margin-left: 2.7rem !important;
}
@media screen and (max-width:600px) {
  .gallery-container {
    height: 80vh;
  }
  .slick-prev:before,
.slick-next:before {
  font-size: 3.5rem !important;
}
.slick-next:before {
  margin-left: 2rem !important;
}
.carousel-container {
  position: absolute;
  width: 0rem;
  transform: rotate(90deg); 
  top: 8.9%;
  left: 86.9%;
}
}
@media screen and (max-width:500px) {
  .gallery-container {
    height: 65vh;
  }
  .slick-prev:before,
  .slick-next:before {
    font-size: 2.7rem !important;
  }
  .slick-next:before {
    margin-left: 1rem !important;
  }
  .carousel-container {
    position: absolute;
    width: 0rem;
    transform: rotate(90deg); 
    top: 10.5%;
    left: 86%;
  }
  
}
@media screen and (max-width:400px) {
  .gallery-container {
    height: 55vh;
  }
  .slick-prev:before,
  .slick-next:before {
    font-size: 2rem !important;
  }
  .slick-next:before {
    margin-left: 0.2rem !important;
  }
  .carousel-container {
    position: absolute;
    width: 0rem;
    transform: rotate(90deg); 
    top: 12%;
    left: 85.2%;
  }
  
}