.gallery_contain{
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100vh;
  
    margin-right: auto;
    margin-left: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    border-top: 1px solid hsla(0, 0%, 100%, 0.2);
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.2);
}
.grid_parent{
    position: absolute;
    z-index: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.grid{
    position: relative;
    height: 100%;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  
}
.grid_height{
    position: absolute;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: 0%;
    width: 1px;
    height: 100%;
    background-color: hsla(0, 0%, 100%, 0.2);
}
.text_parent{
    
    position: absolute;
    z-index: 3;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.gallary_parent{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    font-family: Sharpgroteskbook25, sans-serif;;
}
.gallary_parent h2{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 35px;
    line-height: 44px;
    color: white;
    font-weight: 400;
}
.view{
    position: relative;
    padding: 5px 8px;
    background-color: #000;
    font-family: Sharpgroteskbook25, sans-serif;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}
.grid_2{
    position: relative;
    display: grid;
    grid-auto-columns: 1fr;
    z-index: 1;
    width: 100%;
    height: 100%;
    grid-column-gap: 4px;
    grid-row-gap: 4px;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows: auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto;


    
}
.placement_1{
 
    -ms-grid-row: span 4;
    grid-row-start: span 4;
    -ms-grid-row-span: 2;
    grid-row-end: span 2;
    -ms-grid-column: span 3;
    grid-column-start: span 3;
    -ms-grid-column-span: 3;
    grid-column-end: span 3;

  
}
.placement_2{
   
    -ms-grid-row-span: 5;
    grid-row-end: span 5;
    -ms-grid-column: span 3;
    grid-column-start: span 2;
    -ms-grid-column-span: 3;
}
.placement_3{
   
    grid-row-start: span 2;
    -ms-grid-row-span: 2;
    grid-row-end: span 2;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;

}
.placement_4{
   
    grid-row-start: span 4;
    -ms-grid-row-span: 2;
    grid-row-end: span 3;
    grid-column-start: span 1;
    -ms-grid-column-span: 3
}
.g3{
    background-image: url("../image/imge\ \(1\).jpg");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform 0.4s ease;
    transform: translate3d(0px, 0px, 0px) scale3d(0.5, 0.5, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    
}
.g3.animated {
    /* Adjust the duration and easing as needed */
    transform: translate3d(0px, 20px, 0px) scale3d(1.2, 1.4, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
  

.g4{
    background-image: url("../image/imge\ \(2\).jpg");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform 0.4s ease;
    transform: translate3d(0px, 0px, 0px) scale3d(0.5, 0.5, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
}
.g4.animated {
    /* Adjust the duration and easing as needed */
    transform: translate3d(44px, 0px, 0px) scale3d(1.3, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
.g5{
    background-image: url("../image/imge\ \(3\).jpg");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform 0.4s ease;
    transform: translate3d(5rem, 0px, 0px) scale3d(0.5, 0.5, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
}
.g5.animated {
    /* Adjust the duration and easing as needed */
    transform: translate3d(79px, 19px, 0px) scale3d(0.95, 1.3, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
.g6{
    background-image: url("../image/imge\ \(4\).jpg");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform 0.4s ease;
    transform: translate3d(0px, 0px, 0px) scale3d(0.5, 0.5, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
}
.g6.animated {
    /* Adjust the duration and easing as needed */
    transform: translate3d(44px, 0px, 0px) scale3d(01.05, 01, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
.g7{
    background-image: url("../image/imge\ \(5\).jpg");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform 0.4s ease;
    transform: translate3d(0px, 0px, 0px) scale3d(0.5, 0.5, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);

}
.g7.animated {
    /* Adjust the duration and easing as needed */
    transform:translate3d(-16px, 62px, 0px) scale3d(1.1, 1.2, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
.g8{
    background-image: url("../image/imge\ \(6\).jpg");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform 0.4s ease;
    transform: translate3d(0px, 10px, 0px) scale3d(0.5, 0.5, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
}
.g8.animated {
    /* Adjust the duration and easing as needed */
    transform:translate3d(44px, 20px, 0px) scale3d(1.3, 1.3, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
.g9{
    background-image: url("../image/imge\ \(7\).jpg");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform 0.4s ease;
    transform: translate3d(0px, 23px, 0px)    scale3d(0.5, 0.5, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
}
.g9.animated {
    /* Adjust the duration and easing as needed */
    transform:translate3d(22px, -11px, 0px)    scale3d(0.93, 0.9, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
.g10{
    background-image: url("../image/imge\ \(9\).jpg");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform 0.4s ease;
    transform: translate3d(7rem, 0px, 0px) scale3d(0.6, 0.5, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);

}
.g10.animated {
    /* Adjust the duration and easing as needed */
    transform:translate3d(147px, -9px, 0px) scale3d(1.18, 1.1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
.g11{
    background-image: url("../image/imge\ \(10\).jpg");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform 0.4s ease;
    transform: translate3d(45px, 0px, 0px) scale3d(0.5, 0.5, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);

}
.g11.animated {
    /* Adjust the duration and easing as needed */
    transform:translate3d(67px, 0px, 0px) scale3d(0.85, 0.9, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
.g12{
    background-image: url("../image/imge\ \(11\).jpg");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform 0.4s ease;
    transform: translate3d(0px, 18px, 0px) scale3d(0.5, 0.5, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);

}
.g12.animated {
    /* Adjust the duration and easing as needed */
    transform:translate3d(-10px, 36px, 0px) scale3d(1.1, 1.5, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }