
/* Track */
::-webkit-scrollbar {
  width: 5px; /* Set the width of the scrollbar */
}

/* Handle/Thumb */
::-webkit-scrollbar-thumb {
  background-color: black;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #333; /* Set a different color on hover if desired */
}

/* Track on hover */
::-webkit-scrollbar-track:hover {
  background-color: transparent; /* Set a different color for the track on hover if desired */
}

/* Handle on active */
::-webkit-scrollbar-thumb:active {
  background-color: #555; /* Set a different color when the scroller is clicked */
}

/* Track on active */
::-webkit-scrollbar-track:active {
  background-color: transparent; /* Set a different color for the track when the scroller is clicked */
}

/* Corner */
::-webkit-scrollbar-corner {
  background-color: transparent; /* Set the color of the corner between the vertical and horizontal scrollbars */
}


.Ecell_container{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  /* background-color: black; */
  z-index: 0;
  overflow:hidden;
  text-align: center;
}

.club_name{
  
  font-size: 7em;
  overflow: hidden;
  text-align: center;

  position: relative;
  background: linear-gradient(90deg, #01FFF0 6.15%, #FFF 50.08%, #4EFFF4 95.89%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 

  top: 15rem;
  z-index:2rem ;
}
.Ecell_container img{
  
  position: relative;
  top: -38rem;
  left:-9.5rem;
  z-index: 10;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
width: 120%;



}
.stroke{
 position: relative;
  font-size: 7em;
  
color: transparent;
 left: 0rem;
 top: 1rem;
 -webkit-text-stroke:1.8px #01FFF0;

  z-index: 99; 
}
.cell{
  -webkit-text-stroke: 2px rgb(255, 255, 255);
  position:relative;
 top: -1rem;
  font-size: 7em;
  text-align: center;
  color: transparent;
  z-index: 99;
}
@media (max-width:1540px) {
 .Ecell_container img{
  height: 95%;
 }
}
@media (max-width:1140px) {
  .cell{
    font-size: 6.1rem;
    top: 4rem;
  }
  .stroke{
    font-size: 6.1em;
    top: 3rem;
  }
  .club_name{
    font-size: 6.1em;
    top: 15.2rem;
  }
  .Ecell_container img{
    top: -36rem;
    width: 130%;
  }
}
@media (max-width:970px) {
  .cell{
    font-size: 5em;
    top: 11rem;
  }
  .stroke{
    font-size: 5em;
    top: 7rem;
  }
  .club_name{
    font-size: 5em;
    top: 17rem;

  }
  .Ecell_container img{
    top: -24rem;
    /* left: -11rem; */
    width: 140%;
    transform: translate(-1.5%);
  }

}
@media (max-width:790px) {
  .cell{
    font-size: 4.4em;
    top: 11rem;
  }
  .stroke{
    font-size: 4.4em;
    top: 7rem;
  }
  .club_name{
    font-size: 4.4em;
    top: 15.9rem;
  }
  .Ecell_container img{
    top: -22.5rem;
    left: -17rem;
    width: 180%;
  }
}
@media (max-width:690px) {
  .cell{
    font-size: 3.3em;
    top: 5rem;
  }
  .stroke{
    font-size: 3.3em;
    top: 5rem;
  }
  .club_name{
    font-size: 3.3em;
    top: 11.6rem;
  }
  .Ecell_container img{
    top: -15rem;
    height: 90%;
    left: -5rem;
    width: 130%;
  }
  .Ecell_container{
    height: 65vh;
  }

}
@media (max-width:530px) {
  .cell{
    font-size: 2.6em;
    top: 5rem;
  }
  .stroke{
    font-size: 2.6em;
    top: 4rem;
  }
  .club_name{
    font-size: 2.6em;
    top: 9.3rem;
  }
  .Ecell_container img{
    top: -12rem;
    left: -3.5rem;
    width: 130%;
  }

}
@media (max-width:420px) {
  .cell{
    font-size: 2em;
    top: 7rem;
  }
  .stroke{
    font-size: 2em;
    top: 6rem;
  }
  .club_name{
    font-size: 2em;
    top: 10rem;
  }
  .Ecell_container img{
    top: -7rem;
    left: -5rem;
    width: 150%;
  }

  .Ecell_container {
    animation: moveUp 2s;
    height: 50vh;
  }
}

.Ecell_container img {
  animation: moveUp 2s;
}

.stroke{
  text-align: center;

}

@keyframes moveUp {
  from {
    transform: translateY(20%);
  }
  to {
    transform: translateY(0%);
  }
}
