.Ecell_container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;

    background-color: black;
    z-index: 0;
    overflow:hidden;
}

.club_name{
    
    font-size: 7rem;

    text-align: center;

    position: relative;
    background: linear-gradient(90deg, #01FFF0 6.15%, #FFF 50.08%, #4EFFF4 95.89%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   

    top: 5rem;
    z-index:2rem ;
}
.Ecell_container img{
    width: 100%;
    position: relative;
    top: -19rem;
    left:-1rem;
    z-index: 10;
    
 
  
  
}
.stroke{
   position: absolute;
    font-size: 7rem;
    text-align: center;
color: transparent;
   left: 13.6rem;
   top: 10.3rem;
   -webkit-text-stroke:2px #01FFF0;

    z-index: 99; 
}
.cell{
    -webkit-text-stroke: 2px rgb(255, 255, 255);
    position:absolute;
    top: 18rem;
    font-size: 7rem;
    left: 38rem;
    color: transparent;
    z-index: 99;
}

