/* Navbar.css */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: whitesmoke;
  background: rgba(65, 65, 65, 0.25);
  box-shadow: 0 8px 32px 0 rgba(84, 84, 84, 0.37);
  backdrop-filter: blur( 4.5px );
  -webkit-backdrop-filter: blur( 4.5px );
  border: 1px solid rgba(236, 234, 234, 0.18);
  width: 100%;
  z-index: 1000;
  position: fixed;
  height: 4rem;


}
.logo{
  width: 5rem;
  margin-top: 1rem;
}
.nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;

}

.nav-links a {
  text-decoration: none;
  color: #333;
  margin: 10px;
  color: white;
  font-size: 1.4rem;
  padding: 0.7rem;
  margin-right: 2rem;


}

.nav-icon {
  display: none;
  cursor: pointer;
  color: white;
}

@media only screen and (max-width: 580px) {
  .nav-links {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    height: 100vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
    flex-direction: column;
    justify-content: center;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in;
  }

  .show-nav {
    transform: translateX(0);
    
  }

  .hide-nav {
    transform: translateX(-100%);
  }

  .nav-icon {
    display: block;
    font-size: 1.5rem;
    z-index: 1000;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    

  }

  .nav-links a {
   z-index: 100;
    color: rgb(255, 255, 255);
  }
}


.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: whitesmoke;
  background: rgba(65, 65, 65, 0.25);
  box-shadow: 0 8px 32px 0 rgba(84, 84, 84, 0.37);
  backdrop-filter: blur( 4.5px );
  -webkit-backdrop-filter: blur( 4.5px );
  border: 1px solid rgba(236, 234, 234, 0.18);
  width: 100%;
  z-index: 1000;
  position: fixed;
  height: 4rem;


}
.logo{
  width: 5rem;
  margin-top: 1rem;
}
.nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}
.nav-links a:hover{
  cursor: pointer;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  margin: 10px;
  color: white;
  font-size: 1.4rem;
  padding: 0.7rem;
  margin-right: 2rem;


}

.nav-icon {
  display: none;
  cursor: pointer;
  color: white;
}

@media only screen and (max-width: 580px) {
  .nav-links {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    height: 100vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
    flex-direction: column;
    justify-content: center;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in;
  }

  .show-nav {
    transform: translateX(0);
    
  }

  .hide-nav {
    transform: translateX(-100%);
  }

  .nav-icon {
    display: block;
    font-size: 1.5rem;
    z-index: 1000;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    

  }

  .nav-links a {
   z-index: 100;
    color: rgb(255, 255, 255);
  }
}
