/* Navbar.css */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: whitesmoke;
  background: rgba(65, 65, 65, 0.25);
  box-shadow: 0 8px 32px 0 rgba(84, 84, 84, 0.37);
  backdrop-filter: blur( 4.5px );
  -webkit-backdrop-filter: blur( 4.5px );
  border: 1px solid rgba(236, 234, 234, 0.18);
  width: 100%;
  z-index: 1000;
  position: fixed;
  height: 4rem;
  gap: 3rem;
  padding-right:2rem;
}



.logo{
  width: 5rem;
  margin-top: 1rem;
}
.nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 90%;
  gap: 3rem;
}

.nav-links .link {
  text-decoration: none;
  color: #333;
  color: white;
  font-size: 1.4em;
  width: 9rem;
  padding: 0;
  margin: 0;

}

.nav-icon {
  display: none;
  cursor: pointer;
  color: white;
}
.nav-links .link:hover{
  cursor: pointer;
}
.btn.link{
  font-size: 1em;
  padding: 0.5rem 0.3rem;
}

.btn {
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid rgb(61, 106, 255);
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.btn:hover {
  background: rgb(61, 106, 255);
  box-shadow: 0 0 10px 3px rgba(0, 142, 236, 0.815);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.btn:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

.btn::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}



@media only screen and (max-width: 960px) {
 
  .nav-links{
    gap: 1.3rem;
  }
  .nav-links .link{
    font-size: 1.1em;
  }
}


@media only screen and (max-width: 790px) {
  
  .nav-links{
    gap: 1rem;
  }
  .nav-links .link{
    font-size: 0.9em;
  }
}
@media only screen and (max-width: 635px) {
  .navbar{
    gap: 1rem;
  }
  .nav-links{
    gap: 0.5rem;
  }
  .nav-links .link{
    font-size: 0.9em;
  }
}
@media only screen and (max-width: 580px) {
  .navbar{
    justify-content: space-between;
  }
  .nav-links {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    height: 100vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
    flex-direction: column;
    justify-content: center;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in;
    font-size: 1.5em;
    gap: 4rem;
  }

  .show-nav {
    transform: translateX(0);
  }

  .hide-nav {
    transform: translateX(-100%);
  }


  .nav-icon {
    display: block;
    position: absolute;
    font-size: 1.5rem;
    z-index: 1000;
    transform: translate(32rem,55%);
    color: #333;
  }
  .nav-links a {
   z-index: 100;
    color: rgb(255, 255, 255);
  }
 
}

@media only screen and (max-width: 550px) {

  .nav-icon {
  
    transform: translate(29rem,55%);
  }
}

@media only screen and (max-width: 500px) {

  .nav-icon {
  
    transform: translate(26rem,55%);
  }
}

@media only screen and (max-width: 450px) {

  .nav-icon {
  
    transform: translate(23.2rem,55%);
  }
}
@media only screen and (max-width: 400px) {

  .nav-icon {
  
    transform: translate(20rem,55%);
  }
}



@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

.btn:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}




@media only screen and (max-width: 580px) {
  .nav-links {
    /* position: fixed; */
    top: 0;
    left: 0;
    z-index: 100;
    height: 100vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
    flex-direction: column;
    justify-content: center;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in;
  }

  .show-nav {
    transform: translateX(0);
    
  }

  .hide-nav {
    transform: translateX(-100%);
  }

  .nav-icon {
    display: block;
    font-size: 1.5rem;
    z-index: 1000;
  }


  .nav-links a {
   z-index: 100;
    color: rgb(255, 255, 255);
  }
}
