@font-face {
  font-family: Ecell;
  src: url(../assets/AboutUs/Montserrat-VariableFont_wght.ttf);
}



.team-container {
    display: flex;
    font-family: Ecell;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
  }
  
  .team-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 3% 10%;
    width: 100%;
  }
  
  .team-card {
    border: 1px solid #ddd;
    border-radius: 2px;
    margin: 10px;
    /* padding: 10px; */
    height: 100%;
    font-family: Ecell;
    text-align: center;
    width: 250px;
    transition: transform 0.3s ease-in-out; 
  }
  
  .team-card:hover {
    transform: scale(1.1); 
  }
  
  .team-photo {
    height: 60%;
   
    max-height: 265px;
   width: 100%;
    transition: filter 0.3s ease-in-out;
  }
  
  .team-card:hover .team-photo {
    filter: grayscale(100%);
  }
  
  .team-info {
    margin-top: 40px;
  }
  
  .team-name {
    color: white;
    font-size: 24px;
    margin: 20px;
    transition: color 0.3s ease-in-out; 
  }
  
  .team-card:hover .team-name {
    color: rgb(0, 0, 255); 
  }
  
  .team-title {
    font-size: 17px;
    margin-bottom: 20px;
    color: #b5a5a5;
    transition: color 0.3s ease-in-out; 
  }
  
  .team-card:hover .team-title {
    color: pink;
  }


.our-team {
  
  text-align: center;
    margin: 4% 0;
  width: 100%;
}

.team-details1{
  display: flex;
  justify-content: center;
}


  .team-details {
  
        display: flex;
        justify-content: space-between;
        flex-direction: row; 
        margin: 30px 8%;
        margin-top: 7%;
        flex-wrap: wrap;
      
  }
  .text-team{
    color: #01FFF0;
  }

  
  .team-row h1 ,
  .team-container h1,
  .our-team h1  {
    font-size: 60px;
    color: white;
  }


  @media screen and (max-width: 480px){
   
    .team-row h1 ,
    .team-container h1,
    .our-team h1  {
      text-align: center;
      font-size: 27px;
    }
    .our-team h1{
      margin: 15% 0;
    }
    .team-card {
    
      width: 40%; 
      height: 50%;
      margin-top: 20px;
      
    }
  
 
    .team-row{
      justify-content:space-around;
      margin: 7% -2%;
     
    }
    .team-photo{

      height: 50%;
    }
    .team-details{
      justify-content: space-between;
      margin: 0;
    }
    .team-info {
      margin: 2px 10px;
    }
    
    .team-name {
      margin: 15px;
      margin-top: 20px;
      font-size: 18px;
      
    }
  }

  @media screen and (max-width: 780px) and ( min-width: 480px){

    .team-row h1 ,
    .team-container h1,
    .our-team h1  {
      text-align: center;
      font-size: 35px;
    }
    .our-team h1{
      margin: 15% 0;
    }
    .team-card {
    
      width: 40%; 
      height: 48%;
      margin-top: 20px;
      
    }
    .team-info {
      margin: 5px 10px;
    }
    .team-name {
      margin: 15px;
      margin-top: 20px;
      font-size: 20px;
      
    }
  }